body {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
}

h1 {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

p {
	margin: 0;
	padding: 0;
}

span.tcy {
	writing-mode: horizontal-tb;
	-webkit-writing-mode: horizontal-tb;
	-epub-writing-mode: horizontal-tb;
	line-height: 1;
}
